@use 'variables' as v;

@mixin mediaQuery($valor) {
    @media (min-width: $valor) {
        @content;
    }
}

@mixin grid($columns, $spacing) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $spacing;
}