@use 'base/mixins' as m;
@use 'base/variables' as v;

.lineup{
    padding: 5rem 0;
    background-color: v.$pink;
    
    h3, p{
        color: v.$white;
        text-align: center;
    }
    .day{
        text-transform: uppercase;
        margin: 5rem 0;
    }
}

.show-container{
    @include m.mediaQuery(v.$tablet) {
        @include m.grid(2, 5rem);
    }

    p{
        color: v.$black;
    }
}

.show{
    padding-top: 2rem;
    border-radius: 2rem;
    p{
        &:after{
            content: '';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2rem auto 0 auto;
        }
    }
    margin-bottom: 2rem;
}

.edm .show-name:after{
    background-image: url(../img/icono_edm.png);
}

.rock .show-name:after{
    background-image: url(../img/icono_rock.png);
}

.calendar{
    @include m.resetList;
    li {
        padding: 2.5rem;
        font-weight: 700;
        span{
            font-weight: 400;
        }
    }
}

.bg-yellow{
    background-color: v.$yellow;
    li:nth-child(odd){
        background-color: darken($color: v.$yellow, $amount: 15%);    
    }
}

.bg-green{
    background-color: v.$green;
    
    li:nth-child(odd){
        background-color: darken($color: v.$green, $amount: 10%);    
    }
}